.wrapper {
    position: relative
}

.wrapper .filters {
    position: relative;
    height: -moz-fit-content;
    height: fit-content;
    text-align: start;
    grid-column: 1/-1;
    margin-bottom: 17.0666666667vw;
    z-index: 2
}

@media(min-width: 800px) {
    .wrapper .filters {
        grid-column:1/5;
        position: -webkit-sticky;
        position: sticky;
        top: 6.9444444444vw;
        left: 0
    }
}

.wrapper .filters .top {
    position: relative;
    margin-bottom: 6.4vw
}

@media(min-width: 800px) {
    .wrapper .filters .top {
        margin-bottom:1.6666666667vw
    }
}

.wrapper .filters .bottom {
    position: relative
}

.wrapper .list {
    grid-column: 1/-1
}

@media(min-width: 800px) {
    .wrapper .list {
        grid-column:5/-1
    }
}

.wrapper .list .element {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 4.2666666667vw;
    padding-bottom: 4.2666666667vw
}

@media(min-width: 800px) {
    .wrapper .list .element {
        padding-top:1.1111111111vw;
        padding-bottom: 1.1111111111vw
    }
}

.wrapper .list .element .link {
    width: 5.3333333333vw
}

@media(min-width: 800px) {
    .wrapper .list .element .link {
        width:1.6666666667vw
    }
}

.wrapper .list .element .title {
    grid-column: 1/4
}